{%extends "reviews/base.html"%}
{%block title%}
Reviews
{%endblock%}
{%block content%}
    <form action = "/" method = "POST">
        {% csrf_token %}
        {%for field in form_key %}
        <div class="form-control {%if form_key.user_name.errors%} errors {% endif %}">
            <!-- {{form_key}} -->
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
            <!-- {{field}} -->
        </div>
        {%endfor%}
        
        <!-- {%if has_error %} -->
        <!-- <p>This form is invalid</p> -->
        <!-- {%endif%} -->
        <!-- <label for="">Your name</label> -->
        <!-- <input id ="username" name = "usernamename" type="text"> -->
        <button>Send</button>
    </form>
{%endblock%}